

.flex-container{
    display: flex;
    background-color: rgb(95, 40, 109);
    margin: auto;
}

.leftside{

    float:left;
    background-color: rgb(153, 52, 184);
    margin-top: 35px;
    width:40%;
    height: 40%;
    padding: 40px;
   

}

leftside img{
    justify-content: center;
}

.rightside{
    justify-content: right;
}

.rightside h5 {
    justify-content: center;
    margin: auto;
    padding: 10px;
}

.rightside table {
    background-color : purple;
}

.midplace{
    background-color: purple;
    color: azure;

}

.menu {
  background-color: purple;
  padding: 10px 0;
}

.menu ul {
  display: flex;
  justify-content: right; 
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu li {
  margin: 0 20px;
}

.menu a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.footer {
    background-color :purple;position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
}