



.flex-container{
    display: flex;
    background-color: rgb(95, 40, 109);
    margin: auto;
}

.leftside{
    width:33%;
    float:left;
    background-color: rgb(153, 52, 184);

}


.midplace{
    background-color: purple;

}